.btn {
  padding: 10px 80px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #f5c678;
  cursor: pointer;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: #f8d568;
  }
}
